extends layout

block content
  h1= title
  
  ul
  each val in list_categories
    li 
      a(href=val.url) #{val.name}
      | #[strong Description:] #{val.decription}

  else
    li There are no genre.
