extends layout

block content

  h1 #{title}
          
  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Carts, balls, tees...' name='name' required='true' value=(undefined===category ? '' : category.name) )
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='description' required='true' value=(undefined===category ? '' : category.description) )
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg